html {
    background-color:black;
    font-family: 'Ruda';
    font-style: normal;
    line-height: 0px;
    color:#FFFFFF;
}
.navbar {
    position: absolute;
    width: 1532px;
    height: 111px;
    left: 0px;
    top: 0px;
}
.left {
    position: fixed;
    width: 350px;
    height: 51px;
    left: 20px;
    top: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.center .about span {
position: absolute;
width: 159px;
height: 28px;
left: 452px;
top: 41px;
font-weight: 400;
font-size: 16px;
display: flex;
align-items: center;
text-align: center;
}
.center .menu {
position: absolute;
width: 159px;
height: 28px;
left: 587px;
top: 41px;
font-weight: 400;
font-size: 16px;
line-height: 0px;
display: flex;
align-items: center;
text-align: center;
}
.center .blogs {
 position: absolute;
width: 159px;
height: 27px;
left: 701px;
top: 43px;
font-weight: 400;
font-size: 16px;
display: flex;
align-items: center;
text-align: center;
}
.center .test {
position: absolute;
width: 159px;
height: 28px;
left: 831px;
top: 41px;
font-weight: 400;
font-size: 16px;
display: flex;
align-items: center;
text-align: center;
}
.center .find {
position: absolute;
width: 159px;
height: 28px;
left: 975px;
top: 41px;
font-weight: 400;
font-size: 16px;
display: flex;
align-items: center;
text-align: center;
}
.center .team {
position: absolute;
width: 159px;
height: 28px;
left: 1116px;
top: 41px;
font-weight: 400;
font-size: 16px;
display: flex;
align-items: center;
text-align: center;
}
.center a{
    color: white;
    text-decoration: none;
}
.right .insta {
display: flex;
box-sizing: border-box;
position: absolute;
padding-top: 20px;
left: 1310px;
}
.right .facebook {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    padding-top: 30px;
    left: 1390px;
}
.right .whatsapp {
display: flex;
box-sizing: border-box;
position: absolute;
padding-top: 0px;
left: 50px;
}
.container2 {
 box-sizing: border-box;
 position: absolute;
width: 1532px;
height:1100px;
left: -23px;
top: 100px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.05) 0.01%, rgba(31, 31, 31, 0.0529908) 0.02%, rgba(0, 0, 0, 0.065) 13.02%, rgba(0, 0, 0, 0.5) 100%);
filter: drop-shadow(3px 6px 18px rgba(0, 0, 0, 0.25));
}
.container2 h1 {
    position: absolute;
width: 900px;
height: 200px;
left: 17px;
top: 200px;
font-family: 'Quattrocento';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 50px;
text-align: center;
letter-spacing: 0.09em;
padding : 129px 40px;
margin:0;
border-bottom : 2px solid orange;
